<%= form_with(model: payment_status) do |form| %>
  <% if payment_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_status.errors.count, "error") %> prohibited this payment_status from being saved:</h2>

      <ul>
        <% payment_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, PersonalInformation.order(:first_name).map { |x| [x.first_name + " " + x.last_name, x.student_id] }, include_blank: true, id: "id_of_the_student_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :membership %>
    <%= form.check_box :membership %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, start_year:2010, end_year:2030 %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, start_year:2010, end_year:2030 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
