<%= form_with(model: chess) do |form| %>
  <% if chess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chess.errors.count, "error") %> prohibited this chess from being saved:</h2>

      <ul>
        <% chess.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chess_com_username %>
    <%= form.text_field :chess_com_username %>
  </div>

  <div class="field">
    <%= form.label :blitz %>
    <%= form.number_field :blitz %>
  </div>

  <div class="field">
    <%= form.label :rapid %>
    <%= form.number_field :rapid %>
  </div>

  <div class="field">
    <%= form.label :total_played %>
    <%= form.number_field :total_played %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
