<div class="center">
    <div class="background_img">
        <div class="font">
          <p id="notice"><%= notice %></p>
          <div class="header_all">
          <p>
            <strong>Actual name:</strong>
            <%= @statistic.actual_name %>
          </p>

          <p>
            <strong>Chess.com Username:</strong>
            <%= @statistic.chess_username %>
          </p>

          <p>
            <strong>Blitz:</strong>
            <%= @statistic.chess_blitz %>
          </p>

          <p>
            <strong>Rapid:</strong>
            <%= @statistic.chess_rapid %>
          </p>

          <p>
            <strong>Total played:</strong>
            <%= @statistic.chess_total_played %>
          </p>

          <p>
            <strong>Lichess.org Username:</strong>
            <%= @statistic.lichess_username %>
          </p>

          <p>
            <strong>Blitz:</strong>
            <%= @statistic.lichess_blitz %>
          </p>

          <p>
            <strong>Rapid:</strong>
            <%= @statistic.lichess_rapid %>
          </p>

          <p>
            <strong>Total played:</strong>
            <%= @statistic.lichess_total_played %>
          </p>

          <%= link_to 'Back', statistics_path %>
          </div>
        </div>
      </div>
    </div>