<%= form_with(model: qr_code) do |form| %>
  <% if qr_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qr_code.errors.count, "error") %> prohibited this qr_code from being saved:</h2>

      <ul>
        <% qr_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :qr_url %>
    <%= form.text_field :qr_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
