<p id="notice"><%= notice %></p>

<h1>Qr Codes</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Attendence link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qr_codes.each do |qr_code| %>
      <tr>
        <td><%= qr_code.event_id %></td>
        <td><%= qr_code.attendence_link %></td>
        <td><%= link_to 'Show', qr_code %></td>
        <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
        <td><%= link_to 'Destroy', qr_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New Qr Code', new_qr_code_path %>
<br>
<br>
<%= link_to 'Back', homes_path %>