<p id="notice"><%= notice %></p>

<h1>Home</h1>

<br>
<br>
<%= link_to 'Personal Information', personal_informations_path %>
<br>
<br>
<%= link_to 'Attendance', attendences_path %>
<br>
<br>
<%= link_to 'QR Code', qr_codes_path %>
<br>
<br>
<%= link_to 'Chess.com', chesses_path %>
<br>
<br>
<%= link_to 'Lichess.org', lichesses_path %>