<div class="center">
    <p id="notice"><%= notice %></p>

    <div class="main_header">
        <h1>Home</h1>
    </div>

    <br>
    <br>
    <%= link_to 'Personal Information', personal_informations_path %>
    <br>
    <br>
    <%= link_to 'Attendance', attendences_path %>
    <br>
    <br>
    <%= link_to 'QR Code', qr_codes_path %>
    <br>
    <br>
    <%= link_to 'Player Statistics', statistics_path %>
    <br>
    <br>
    <%= link_to "Sign Out", destroy_admin_session_path %>
</div>