<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5A2B39;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.notice{
  margin-left: 200px
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
<%= link_to 'Home', homes_path %>
  <%= link_to 'Personal Information', personal_informations_path %>
  <%= link_to 'Attendance', attendences_path %>
  <%= link_to 'QR Code', qr_codes_path %>
  <%= link_to 'Player Statistics', statistics_path %>
  <%= link_to "Sign Out", destroy_admin_session_path %>
  <img src="tamuchesslogo.jpeg" width="200" height="200">
</div>

<span onclick="openNav()">open</span>

<div class="main">

    <p id="notice"><%= notice %></p>
    <img src="tamuchesslogo.jpeg" width="200" height="200">
    
</div>
</body>
</html> 