<div class="center">
    <div class="background_color">
        <div class="font">
            <p id="notice"><%= notice %></p>

            <img style="background-image: url('#{asset_path('logo.png')}')" alt="The image is here"></img>
            <h1>Home</h1>

            <br>
            <br>
            <%= link_to 'Personal Information', personal_informations_path %>
            <br>
            <br>
            <%= link_to 'Attendance', attendences_path %>
            <br>
            <br>
            <%= link_to 'QR Code', qr_codes_path %>
            <br>
            <br>
            <%= link_to 'Player Statistics', statistics_path %>
            <br>
            <br>
            <%= link_to "Sign Out", destroy_admin_session_path %>
        </div>
    </div>
</div>