<%= form_with(model: personal_information) do |form| %>
  <% if personal_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_information.errors.count, "error") %> prohibited this personal_information from being saved:</h2>

      <ul>
        <% personal_information.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uin %>
    <%= form.text_field :uin %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>  

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>  

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>  

  <div class="field">
    <%= form.label :discord_username %>
    <%= form.text_field :discord_username %>
  </div>  

  <div class="field">
    <%= form.label :membership %>
    <%= form.check_box :membership %>
  </div>  

  <div class="field">
    <%= form.label :start_date %>
    <% t = Time.now %>
    <% x = t.strftime('%Y') %>

    <% if t.mon > 7  %>
      <% x = x + '-01-17' %>
    <% else %>
      <% x = x + '-08-24' %>
    <% end %>
    <%= form.date_field :start_date, :value => x %>
  </div>  

  <div class="field">
    <%= form.label :end_date %>
    <% t = Time.now %>
    <% x = t.strftime('%Y') %>

    <% if t.mon > 7  %>
      <% x = x + '-05-15' %>
    <% else %>
      <% x = x + '-12-15' %>
    <% end %>
    <%= form.date_field :end_date, :value => x %>
  </div>  

  <div class="field">
    <%= form.label :chess_com_username %>
    <%= form.text_field :chess_com_username %>
  </div>  

  <div class="field">
    <%= form.label :lichess_org_username %>
    <%= form.text_field :lichess_org_username %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
