<p id="notice"><%= notice %></p>

<p>
  <strong>UIN:</strong>
  <%= @personal_information.uin %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @personal_information.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @personal_information.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personal_information.email %>
</p>

<p>
  <strong>Discord Username:</strong>
  <%= @personal_information.discord_username %>
</p>

<p>
  <strong> Membership:</strong>
  <%= @personal_information.membership %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @personal_information.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @personal_information.end_date %>
</p>

<p>
  <strong>Chess.com Username:</strong>
  <%= @personal_information.chess_com_username %>
</p>

<p>
  <strong>Lichess.org Username:</strong>
  <%= @personal_information.lichess_org_username %>
</p>

<!--
<%= link_to 'Edit', edit_personal_information_path(@personal_information) %> |
<%= link_to 'Back', personal_informations_path %>
-->
