<p id="notice"><%= notice %></p>

<h1>Lichess.org</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Blitz</th>
      <th>Rapid</th>
      <th>Total Played</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lichesses.each do |lichess| %>
    <!-- would go here -->
      <tr>
        <td><%= lichess.lichess_org_username %></td>
        <td><%= lichess.blitz %></td>
        <td><%= lichess.rapid %></td>
        <td><%= lichess.total_played %></td>
        <td><%= link_to 'Show', lichess %></td>
        <td><%= link_to 'Edit', edit_lichess_path(lichess) %></td>
        <td><%= link_to 'Destroy', lichess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--
<% count = get_http_request_lichess('alireza2003') %>
-->
<!-- Idea of Code
<% @personal_informations.each do |personal_information| %>
<%= lichess.lichess_org_username = personal_information.lichess_org_username %>
<% count = get_http_request_lichess(lichess.lichess_org_username) %>
<%= lichess.blitz  = count[0]%>
<%= lichess.rapid = count[1]%>
<%= lichess.total_played = count[2]%>
<% end %> 
-->
<br>
<br>
<%= link_to 'Update', lichesses_path %>
<br>
<br>
<%= link_to 'Back', homes_path %>