<p id="notice"><%= notice %></p>

<h1>Lichess.org</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Blitz</th>
      <th>Rapid</th>
      <th>Total Played</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lichesses.each do |lichess| %>
      <tr>
        <td><%= lichess.lichess_org_username %></td>
        <td><%= lichess.blitz %></td>
        <td><%= lichess.rapid %></td>
        <td><%= lichess.total_played %></td>
        <td><%= link_to 'Show', lichess %></td>
        <td><%= link_to 'Edit', edit_lichess_path(lichess) %></td>
        <td><%= link_to 'Destroy', lichess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% count = get_http_request('alireza2003') %>
<br>
<br>
<%= link_to 'Update', lichesses_path %>
<br>
<br>
<%= link_to 'Back', homes_path %>