<p id="notice"><%= notice %></p>

<p>
  <strong>Lichess Username:</strong>
  <%= @lichess.lichess_org_username %>
</p>

<p>
  <strong>Blitz:</strong>
  <%= @lichess.blitz %>
</p>

<p>
  <strong>Rapid:</strong>
  <%= @lichess.rapid %>
</p>

<p>
  <strong>Total played:</strong>
  <%= @lichess.total_played %>
</p>

<%= link_to 'Edit', edit_lichess_path(@lichess) %> |
<%= link_to 'Back', lichesses_path %>
