<%= form_with(model: attendence) do |form| %>
  <% if attendence.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(attendence.errors.count, 'error') %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center">
    <div class="background_color">
      <div class="font">      
        <div class='field'>
          <%= form.label :uin %>
          <%= form.text_field :uin %>
        </div>

        <div hidden class='field_date' >
          <%= form.label :day_of_event %>
          <% t = Time.now %>
          <% x = t.strftime('%Y') %>
          <% x = x + '-' + t.strftime('%m') %>
          <% x = x + '-' + t.strftime('%d') %>
          <%= form.date_field :day_of_event, :value => x %>
        </div>  

        <div class='actions'>
          <%= form.submit %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
