<div class="center">
    <div class="background_color">
        <div class="font">
        <div class="header_all">
            <h1>Editing Attendence</h1>
        </div>
            <br>
            <br>
            <%= render 'form', attendence: @attendence %>

<<<<<<< HEAD
<%= render 'form1', attendence: @attendence %>

<%= link_to 'Show', @attendence %> |
<%= link_to 'Back', attendences_path %>
=======
            <%= link_to 'Show', @attendence %> |
            <%= link_to 'Back', attendences_path %>
        </div>
    </div>
</div>
>>>>>>> 8fabd48b01b4cb53dabf44c6e9ce952c4dc2655a
