<p id="notice"><%= notice %></p>

<h1>Attendences</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Event name</th>
      <th>Event date</th>
      <th>Attendence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each do |attendence| %>
      <tr>
        <td><%= attendence.event_id %></td>
        <td><%= attendence.event_name %></td>
        <td><%= attendence.event_date %></td>
        <td><%= attendence.attendence %></td>
        <td><%= link_to 'Show', attendence %></td>
        <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
        <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendence', new_attendence_path %>

<br>

<%= link_to 'Back', personal_informations_path %>