<p id='notice'><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Student UIN</th>
      <th>Date of Attendance</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @attendences.each do |attendence| %>
      <tr>
        <td><%= attendence.uin %></td>
        <td><%= attendence.day_of_event %></td>
        <!--
        <td><%= link_to 'Show', attendence %></td>
        -->
        <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
        <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New', new_attendence_path %>
<br>
<br>
<%= link_to 'Back', homes_path %>