<div class="center">
  <div class="background_color">
    <div class="font">
      <p id='notice'><%= notice %></p>

      <div class="header_all">
        <h1>Attendances</h1>
      </div>

      <%= line_chart Attendence.group(:day_of_event).count.sort_by {|k,v| k}.reverse[0..11], xtitle: "Date", ytitle: "Attendence" %>
    <br>
    <br>
    
          <table class="table_center">
            <thead>
              <tr>
                <th>Student UIN</th>
                <th>Date of Attendance</th>
                <th colspan='3'></th>
              </tr>
            </thead>

            <tbody>
              <% @attendences.each do |attendence| %>
                <tr>
                  <td><%= attendence.uin %></td>
                  <td><%= attendence.day_of_event %></td>
                  <td><%= link_to 'Edit', edit_attendence_path(attendence) %></td>
                  <td><%= link_to 'Destroy', attendence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

      <br>
      <br>
      <%= link_to 'New', new_attendence_path %>
      <br>
      <br>
      <%= link_to 'Back', homes_path %>
    </div>
  </div>
</div>